@media (min-width: 470px) {
.blog-img{
display: block;
margin-left: auto;
margin-right: auto;
border-radius: 8px;
max-width: 60%;
height: auto;
align-content: center;
margin: auto;
}

.card-img{
width: 100%;
height: 60%;
border-top-left-radius: 8px;
border-top-right-radius: 8px;
align-content: center;
margin-bottom: 16px;
top: 0;
left: 0;
}
}

@media (max-width: 469px) {
.blog-img{
display: block;
margin-left: auto;
margin-right: auto;
border-radius: 8px;
max-width: 100%;
height: auto;
align-content: center;
margin: auto;
}

.card-img{
width: 100%;
height: 60%;
border-top-left-radius: 8px;
border-top-right-radius: 8px;
align-content: center;
margin-bottom: 8px;
top: 0;
left: 0;
}
}