body {
background-color: #212121;
margin: 0;
}

.container{
display: grid;
height: auto;
min-height: 100vh;
grid-template-columns: 100vw;
grid-template-rows: 64px auto 1fr 32px;
grid-template-areas:
"hd"
"nav"
"main"
"ft";
justify-content: center;
}

@media (min-width: 470px) {
.header{
display: flex;
background-color: #333333;
grid-area: hd;
z-index: 10;
border-bottom: 2px solid #3E3E3E;
justify-content: center;
}

.navigation{
background-color: #333333;
grid-area: nav;
z-index: 8;
box-shadow: 0px 2px 2px;
position: sticky;
top: 0;
left: 0;
}

.content{
grid-area: main;
height: auto;
padding: 16px 20vw;
justify-content: stretch;
}

.footer{
display: flex;
background-color: #333333;
font-weight: bold;
grid-area: ft;
z-index: 10;
align-content: center;
margin-top: auto;
}

.nav-list{
align-items: start;
width: flex;
padding: 8px;
font-size: 14px;
justify-content: start;
font-family: "Ariel", Arial, sans-serif;
}
}

@media (max-width: 469px){
.header{
display: flex;
background-color: #333333;
grid-area: hd;
z-index: 10;
border-bottom: 2px solid #3E3E3E;
justify-content: center;
}

.navigation{
background-color: #333333;
grid-area: nav;
z-index: 8;
box-shadow: 0px 2px 2px;
position: sticky;
top: 0;
left: 0;
}

.content{
grid-area: main;
height: auto;
padding: 16px;
justify-content: stretch;
}

.footer{
display: flex;
background-color: #333333;
font-weight: bold;
grid-area: ft;
z-index: 10;
align-content: center;
margin-top: auto;
}

.nav-list{
align-items: start;
width: flex;
padding: 8px;
font-size: 12px;
justify-content: start;
font-family: "Ariel", Arial, sans-serif;
}
}

.nav-list:hover{
background-color: #7E7E7E;
color: #fff;
}

#nav-current{
background: #5F5F5F;
pointer-events: none;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
}

li {
float: left;
}

li a {
display: block;
color: #fff;
text-align: center;
text-decoration: none;
}

li a:hover {
background-color: #7E7E7E;
color: #fff;
}
}