@import "layout.css";
@import "typography.css";
@import "images.css";

@media (min-width: 801px) {
.card-group{
display: flex;
flex-direction: row;
width: 100%;
height: auto;
align-items: center;
justify-content: center;
}

.card{
background-color: #333333;
margin: 8px;
z-index: 6;
box-shadow: 4px 4px 2px;
width: 400px;
height: 400px;
border-radius: 8px;
}

.card:hover{
box-shadow: 6px 6px 4px;
}

button{
border-radius: 8px;
background-color: #54A6F3;
color: #000;
z-index: 6;
box-shadow: 2px 2px 2px #000;
font-family: font-family: "Ariel", Arial, sans-serif;
padding: 8px;
}

button:hover{
background-color: #257ACA;
box-shadow: none;
cursor: pointer;
}

.card-text{
padding: 8px;
}

.button-wrapper{
display: flex;
justify-content: center;
margin: 8px 0 0 0;
}

figcaption {
color: #fff;
font-style: italic;
padding: 2px;
text-align: center;
font-size: 12px;
font-family: "Ariel", Arial, sans-serif;
}

.author-name{
font-weight: bold;
}

.author-bio{
font-style: italic;
}

.author-info{
display: inline-block;
vertical-align: middle;
padding: 9px;
}

.title-block{
vertical-align: middle;
}

.title{
display: inline-block;
vertical-align: middle;
margin: 11px 0 11px 0;
}

.author-block{
vertical-align: middle;
margin: 8px 0 8px 0;
}

.avatar {
vertical-align: middle;
width: 50px;
height: 50px;
border-radius: 50%;
}

.social-icon {
max-height: 50px;
max-weight: 50px;
margin: 0 8px 0 8px;
}

.social-icon:hover {
opacity: 0.7;
cursor: pointer;
}

.social-icon-group {
display: inline-block;
position: absolute;
right: 0px;
}
}

@media (max-width: 800px) {
.card-group {
flex-direction: column;
}

.card{
background-color: #333333;
margin: 8px;
z-index: 6;
box-shadow: 4px 4px 2px;
width: 100%;
height: auto;
border-radius: 8px;
}

.social-icon {
max-height: 20px;
max-weight: 20px;
margin: 0 8px 0 8px;
}

.social-icon-group{
margin: 8px 0 8px 0;
}

.title-block{
flex-direction: column
vertical-align: middle;
margin: 32px 0 0 0;
}

.avatar {
vertical-align: middle;
width: 50px;
height: 50px;
border-radius: 50%;
}

button{
border-radius: 8px;
background-color: #54A6F3;
color: #000;
z-index: 6;
box-shadow: 2px 2px 2px #000;
font-family: font-family: "Ariel", Arial, sans-serif;
padding: 8px;

button:hover{
background-color: #257ACA;
box-shadow: none;
cursor: pointer;
}

.button-wrapper{
display: flex;
justify-content: center;
margin: 4px 0 0 0;
}

.card-text{
padding: 4px;
}

figcaption {
color: #fff;
font-style: italic;
padding: 2px;
text-align: center;
font-size: 10px;
font-family: "Ariel", Arial, sans-serif;
}

.author-name{
font-weight: bold;
}

.author-bio{
font-style: italic;
}

.author-info{
display: inline-block;
vertical-align: middle;
padding: 4px;
}

.author-block{
vertical-align: middle;
margin: 8px 0 8px 0;
}


.title{
display: inline-block;
vertical-align: middle;
margin: 11px 0 11px 0;
}
}